.target-folder-indicator {
  position: fixed;
  bottom: 75px;
  right: 10px;
  background-color: #274C77
  ;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
}

.folder-picker-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  font-family: Arial, sans-serif;
}

.modal-content {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  color: #333;
}

.modal-content h2 {
  margin-top: 0;
  color: #274C77;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.modal-content li:hover {
  background-color: #e9ecef;
}

.modal-content button {
  margin-top: 15px;
  padding: 8px 15px;
  background-color: #274C77;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #1a3a5f;
} 