html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* prevent outer scrollbar */
  font-family: 'Roboto Condensed', sans-serif;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-border {
  height: 4px;
  background-color: #274c77;
  width: 100%;
  flex-shrink: 0;
}

.search-container {
  padding: 20px 20px 17px 20px;
  background-color: #f8f9fa;
  flex-shrink: 0;
}

.main-layout {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 84px);
  overflow-y: hidden;
  overflow-x: auto;
  min-width: 1000px;
  background-color: #f8f9fa;
}

.main-section {
  flex: 1;
  background-color: #f8f9fa;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 275px;
  padding: 20px;
  box-sizing: border-box;
  min-width: 800px;
}

.main-section.full-width {
  flex: 1;
  margin: 0;
  padding: 0;
}

.main-layout::-webkit-scrollbar {
  height: 8px;
}

.main-layout::-webkit-scrollbar-track {
  background: #f0f2f5;
  border-radius: 8px;
}

.main-layout::-webkit-scrollbar-thumb {
  background-color: #457b9d;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.main-layout::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.center-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 275px;
  background-color: white;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 10;
}

.sidebar.disabled {
  opacity: 0.5;
  pointer-events: none;
}


